.navbar {
    background-color: #d32f2f !important;
  }
  .nav-link {
    color: #fff !important;
    font-weight: bold !important;
  }
  .fa-shopping-cart,
  .fa-user-circle-o {
    font-size: 32px !important;
  }
  .fa-truck,
  .fa-headphones,
  .fa-thumbs-up {
    font-size: 50px !important;
    margin-right: 10px;
    color: #d32f2f;
    cursor: pointer;
  }
  h3 {
    color: #d32f2f;
  }
  .card1,.card2,.card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #fff;
    box-shadow: 2px 4px 5px gray;
    margin-top: 10px;
  }
  .maincard {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .newArrivals{
      margin-top: 50px;
  }
  .card{
      width: 250px;
      height: auto;
      margin-bottom: 10px;
  }
  .card-text{
  font-weight: bold;
  }
  .btn-primary{
      width: 100%;
      background-color: #d32f2f !important;
  }
  .heading{
      text-align: center;
      font-weight: bold;
      color: #d32f2f;
  }
  .heading > h1{
      text-shadow: 2px 2px 4px black;
      margin: 20px;
      font-size: 44px;
      font-weight: bold;
  
  }
  .footer{
      width: 100%;
      height: 50px;
      background-color: #d32f2f;
      color: #fff;
      text-align: center;
  }



  @media screen and (max-width: 578px) {
      .card,.card,.card {
        width: 100%;
    }
  
  @media screen and (max-width: 600px) {
      .card1,.card2,.card3 {
        width: 100%;
    }